{% load static %}
<section class="home-blog-2" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center pb-4">
                <h2>Chefs column</h2>
                <p class="lead">Viris eripuit voluptaria cu per, sed id movet.</p>
            </div>
            {% for post in blog %}
                <div class="col-lg-4 col-md-6 col-sm-6 p-3">
                    <div class="card">
                        <img alt="{{ blog.title }}"
                             class="card-img-top"
                             src="./media/{{ post.image }}"/>
                        <div class="card-body">
                            <a href="{% url 'blog_detail' post.id %}">
                                <h5>{{ post.title }}</h5>
                            </a>
                            <p>{{ post.excerpt }}</p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div>No record found.</div>
            {% endfor %}
        </div>
    </div>
</section>
