<style>
    .brands {
        color: #313437;
        background-color: #fff;
    }

    .brands a {
        display: block;
        text-align: center;
        padding: 40px 0;
    }

    @media (max-width:767px) {
        .brands a {
            padding: 30px 0;
        }
    }

    .brands a img {
        display: inline-block;
        margin: 10px 20px;
        vertical-align: middle;
    }
</style>
<div class="brands">
    <a href="#">
        <img src="static/images/instacart.png">
        <img src="static/images/kickstarter.png">
        <img src="static/images/lyft.png">
        <img src="static/images/shopify.png">
        <img src="static/images/pinterest.png">
        <img src="static/images/twitter.png">
    </a>
</div>