<!-- MASTER HEADER STARTS-->
<header class="master-head"
        id="master-head"
        style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url('static/images/{{ home_master_header.image_url }}') ">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="site">
                {{ home_master_header.title }}
            </h1>
            <h2>{{ home_master_header.subtitle }}</h2>
        </div>
    </div>
</header>
<!--MASTER HEADER ENDS-->