{% load static %}
<!--NEWSLETTER STARTS-->
<section class="newsletter-1 py-5" id="newsletter"
         style="background-image: url('static/images/{{ home_newsletter.image_url }}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 my-auto p-3"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 right-content p-3 my-auto">
                <h1>{{ home_newsletter.title }}</h1>
                <p class="lead">{{ home_newsletter.subtitle }}</p>
                <form>
                    <div class="input-group">
                        <input class="form-control b-0"
                               placeholder="youremail@example.com"
                               type="text"/>
                        <div class="input-group-prepend">
                            <a class="btn btn-main" href="{% url 'website:under_construction' %}">Subscribe!</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--NEWSLETTER ENDS-->