{% load static %}
<!--FEATURED PRODUCT STARTS-->
<section id="gallery" class="featured-products-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center pb-4">
                <h2>Checkout Our Recipes</h2>
                <p class="lead">
                    Per te vide delenit nonumes. Blandit sadipscing ex.
                </p>
            </div>
            {% for recipe in recipes %}
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="item">
                    <img
                        src="{% static 'website/images/' %}{{recipe.image_url}}"
                        alt=""
                        class="img img-responsive"
                    />
                    <span class="item-details p-2 text-center">
                        <span class="small-text">
                            <a href="{% url 'recipe_detail' recipe.id %}">Iudico deterruisset</a>
                        </span>
                        <br />
                        <span class="small-text">$ 152.11</span>
                    </span>
                    <span class="addtocart">
                        <a href="{% url 'recipe_detail' recipe.id %}" class="btn btn-main">
                            <i class="fas fa-angle-double-right"></i
                            >&nbsp;Explore
                        </a>
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--FEATURED PRODOCT ENDS-->