{% load static %}
<!--FEATURED PRODUCT STARTS-->
<section class="featured-products-1" id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center pb-4">
                <h2>{{ home_recipe.title }}</h2>
                <p class="lead">
                    {{ home_recipe.subtitle }}
                </p>
            </div>
            {% for recipe in recipes %}
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-3">
                <div class="item">
                    <img alt="{{recipe.title}}"
                         class="img img-responsive"
                         src="{% static '/images/' %}{{recipe.image_url}}"
                         title="{{recipe.title}}"/>
                    <span class="item-details p-2 text-center">
                        <span class="small-text">
                            <a href="{% url 'website:recipe_detail' recipe.id %}">Iudico deterruisset</a>
                        </span>
                        <br/>
                        <span class="small-text">$ 0</span>
                    </span>
                    <span class="addtocart">
                        <a class="btn btn-main" href="{% url 'website:recipe_detail' recipe.pk %}">
                            Explore <i class="fas fa-angle-double-right"></i>&nbsp;
                        </a>
                    </span>
                </div>
            </div>
            {% empty %}
            <div class="col-12 text-center">
                <p>There are no records for recipes. </p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--FEATURED PRODOCT ENDS-->