{% extends 'base.html' %}
{% load static %}

{% block head %}
<style>
    .master-head{
        background-size: cover;
    }
</style>
{% endblock %}

{% block title %} {{ setting.blogname }} | {{ setting.blogdescription }} {% endblock %}

{% block content %}
{% include './_master_head.html' %}
{% include './_featurette.html' %}
{% include './_recipe.html' %}
{% include './_blog.html' %}
{% include './_jumbotron.html' %}
{% include '../bookings/booking.html' %}
{% include './_newsletter.html' %}
{% endblock %}