{% extends 'base.html' %}
{% load static %} 

{% block head %}
<style>
    .master-head{
        min-height: 400px;
    }

    @media (min-width: 992px) {
        .master-head {
            height: 400px;
        }
    }
    .common-master-head {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
        url("/static/images/background5.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
</style>
{% endblock %}

{% block title %} {{ setting.blogname }} | References {% endblock %} 

{% block content %}
    <!-- MASTER HEADER STARTS-->
    <header id="master-head" class="master-head common-master-head">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="site">References</h1>
            </div>
        </div>
    </header>
    <!--MASTER HEADER ENDS-->

    <div class="container py-5">
        <h2 class="pb-2 border-bottom">References</h2>
        <div class="row g-5 py-5">
            <div class="col-8 offset-lg-2">
                <ul>
                    <li>
                        <a href="{% url 'under_construction' %}">First link</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}