<form>
    <div class="card shadow mb-3">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">
                Recipe
            </p>
        </div>
        <div class="card-body">
            <div class="mb-3 form-group">
                <label class="form-label" for="title">
                    <strong>Title</strong>
                </label>
                <input class="form-control" type="text" id="title" name="title" value="Checkout Our Recipes">
            </div>
            <div class="mb-3 form-group">
                <label class="form-label" for="tagline">
                    <strong>Tagline</strong>
                </label>
                <textarea name="tagline" id="tagline" cols="30" rows="5" class="form-control">Et harum quidem rerum facilis est.</textarea>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-sm" type="submit">Save Settings</button>
        </div>
    </div>
</form>