{% extends 'base.html' %}
{% load static %}

{% block head %}
<style>
    .master-head {
        min-height: 450px;
    }

    .common-header {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
        url("/static/images/background5.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }

    .admin-menu {
        padding: 4px 0 4px 10px;
        margin-left: 10px;
        border-left: 1px solid #ddd;
    }

    .excerpt {
        opacity: 0.8;
        margin: 25px 0;
    }

    @media (min-width: 992px) {
        .master-head {
            height: 400px;
        }
    }
</style>
{% endblock %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
<header class="master-head common-header">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="site">Blog article</h1>
        </div>
    </div>
</header>

<section class="article-clean container py-5 common-container">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="intro">
                    <h2>
                        {{ post.title }}
                    </h2>
                    <p>
                        <span class="by">by</span>
                        <a href="{% url 'website:under_construction' %}">
                            {{ post.author }}
                        </a>
                        <span class="date">
                            {{ post.created }}
                        </span>
                        {% if user.is_authenticated %}
                        <span class="admin-menu">
                            <a href="{% url 'dashboard:blog_detail' post.id %}">
                                Edit as Admin
                            </a>
                        </span>
                        {% endif %}
                    </p>
                    <div class="featured-image">
                        <img src="{% static 'images/' %}{{post.image_url}}"
                             class="img-fluid"
                             alt={{ post.title }}>
                    </div>
                </div>
                <div class="excerpt">
                    {{'Excerpt: '}}{{ post.excerpt }}
                </div>
                <div class="content text">
                    <p>Sed lobortis mi. Suspendisse vel placerat ligula. <span style="text-decoration: underline;">Vivamus</span>
                        ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget
                        velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et
                        ultrices posuere cubilia Curae.</p>
                    <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac lacus. <strong>Ut vehicula
                        rhoncus</strong> elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit <em>pulvinar
                        dict</em> vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                        cubilia Curae.</p>
                    <h2>Aliquam In Arcu </h2>
                    <p>Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis
                        tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum
                        primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                    <figure class="figure d-block">
                        <img class="figure-img" src="/static/images/making-momo.jpg">
                        <figcaption class="figure-caption">Making awesome MO:MO:</figcaption>
                    </figure>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                        Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis
                        tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                </div>

                <nav aria-label="Pagination" class="blog-pagination mt-5">
                    <a class="btn btn-outline-primary"
                       href="{% url 'website:under_construction' %}">
                        Older
                    </a>
                    <a aria-disabled="true"
                       class="btn btn-outline-secondary disabled"
                       href="{% url 'website:under_construction' %}" tabindex="-1">Newer</a>
                </nav>
            </div>
            <div class="col-md-4">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">About us</h4>
                    <p>
                        Mo:Mo: Ristorante is an awesome Django / Bootstrap 4 restaurant website template with a modern,
                        clean and creative design.
                    </p>
                    <p class="mb-0">
                        Making a reservation at Mo:mo: Ristorante is easy and takes just a
                        couple of minutes.
                    </p>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Archives</h4>
                    <ul class="list-group">
                        <li class="list-group-item">March 2014</li>
                        <li class="list-group-item">February 2014</li>
                        <li class="list-group-item">January 2014</li>
                        <li class="list-group-item">December 2013</li>
                        <li class="list-group-item">November 2013</li>
                        <li class="list-group-item">October 2013</li>
                        <li class="list-group-item">September 2013</li>
                        <li class="list-group-item">August 2013</li>
                        <li class="list-group-item">July 2013</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}