{% extends 'base.html' %}
{% load static %}

{% block head %}
<style>
    .common-master-head {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
        url("/static/images/background5.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }

    .card {
        margin-bottom: 2rem;
    }

    .card img {
        object-fit: cover;
        max-height: 200px;
        object-position: center;
    }
</style>
{% endblock %}

{% block title %} Blog {% endblock %}

{% block content %}
<header class="master-head common-master-head">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="site">Blog</h1>
        </div>
    </div>
</header>

<section class="container py-5 common-container">
    <h2 class="heading">Blog</h2>
    <!-- Blog starts -->
    <div class="row g-5 py-5">
        {% for blog_post in blog_posts %}
        <div class="col-3">
            <div class="card shadow-sm">
                <img alt="{{ blog_post.title }}"
                     class="card-img-top"
                     src="{% static '/images/' %}{{blog_post.image_url}}">
                <div class="card-body">
                    <h5>
                        <a href="{% url 'blog_detail' blog_post.id %}">
                            {{ blog_post.title|slice:":15" }}
                        </a>
                    </h5>
                    <p class="card-text">
                        {{ blog_post.excerpt|slice:":100" }}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-secondary"
                               href="{% url 'blog_detail' blog_post.id %}">
                                Read more <i class="fas fa-angle-double-right"></i>
                            </a>
                        </div>
                        <small class="text-muted">
                            {{ blog_post.created|date:"m-d-Y" }}
                        </small>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No record found.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}

