<!-- todo: 1. add info fa icon.-->
<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h6 class="text-primary fw-bold m-0">
            Pending Bookings
        </h6>
        <div class="dropdown no-arrow">
            <button class="btn btn-link btn-sm dropdown-toggle"
                    aria-expanded="false"
                    data-bs-toggle="dropdown"
                    type="button">
                <i class="fas fa-ellipsis-v text-gray-400"></i>
            </button>
            <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                <p class="text-center dropdown-header">Options:</p>
                <a class="dropdown-item"
                   href="{% url 'dashboard:blog_list' %}">
                    &nbsp;See all
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">&nbsp;Quick report download</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
            {% for client in pending_bookings %}
            <tr>
                <td>
                    <a href="{% url 'dashboard:booking_detail' client.id %}">
                        {{ client.fullname }}
                    </a>
                </td>
                <td>
                    {{ client.email }}
                </td>
                <td>
                    <i class="fas fa-group" title="Table reservation for {{ client.person }} people."></i>
                    {{ client.person }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>