<style>
    .quick-stat a{
        text-decoration: none;
    }
</style>
<div class="col-md-6 col-xl-3 mb-4 quick-stat">
    <div class="card shadow border-start-primary py-2">
        <a href="{% url 'dashboard:booking_list' %}">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                            <span>
                                Bookings (As of June)
                            </span>
                        </div>
                        <div class="text-dark fw-bold h5 mb-0">
                            <span>
                                1200
                            </span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>