{% extends 'dashboard.html' %}
{% load administrators_tags %}

{% block content %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">Dashboard</h3>
    <!-- todo: generate overall report -->
    <a class="btn btn-primary btn-sm d-none d-sm-inline-block"
       role="button"
       href="#">
        <i class="fas fa-download fa-sm text-white-50"></i>
        &nbsp;Generate Overall Report
    </a>
</div>

<!-- Top Quick stat -->
<div class="row">

    {% autoescape off %}

    {% booking_quick_stat %}

    {% blog_quick_stat %}

    {% recipe_quick_stat %}

    {% comment_quick_stat %}
    
    {% endautoescape %}

</div>

<div class="row">
    <div class="col-4">
        {% include './_total_entry.html' %}
    </div>
    <div class="col-4">
        {% include './_latest_booking.html' %}
    </div>
    <div class="col-4">
        {% include './_latest_recipe.html' %}
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        {% include './_booking_overview.html' %}
    </div>
    <div class="col-lg-4">
        {% include './_latest_blog.html' %}
    </div>
</div>

{% endblock %}