{% extends 'base.html' %}
{% load static %}

{% block head %}
<style>
    #mainNav{
        background-color: #50514f;
    }

    .common-container{
        margin-top: 70px;
    }
</style>
{% endblock %}

{% block title %} Our Story {% endblock %}

{% block content %}
<section class="article-clean container py-5 common-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center">Our Story</h1>
                        <p class="text-center">
                            <span class="by">by</span>
                            <a href="{% url 'under_construction' %}">Ashish S. Maharjan</a>
                            <span class="date">Sept 8th, 2020 </span>
                        </p>
                        <img class="img-fluid" src="static/images/desk.jpg">
                    </div>
                    <div class="text">
                        <p>Sed lobortis mi. Suspendisse vel placerat ligula. <span style="text-decoration: underline;">Vivamus</span> ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac lacus. <strong>Ut vehicula rhoncus</strong> elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit <em>pulvinar dict</em> vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                        <h2>Aliquam In Arcu </h2>
                        <p>Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                        <figure class="figure d-block">
                            <img class="figure-img" src="static/images/making-momo.jpg">
                            <figcaption class="figure-caption">Making awesome MO:MO:</figcaption>
                        </figure>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}