{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
<div class="dashboard-list">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard:recipe_list' %}">Recipe</a></li>
            <li class="breadcrumb-item active" aria-current="page">List</li>
        </ol>
    </nav>
    <!-- Ends Breadcrumb -->

    <!-- Navbar action -->
    <nav class="navbar navbar-action">
        <a class="btn btn-sm btn-outline-primary"
           href="{% url 'dashboard:recipe_create' %}">
            <i class="fa fa-plus"></i>{{' Add new'}}
        </a>
        <a class="btn btn-sm btn-outline-primary"
           href="{% url 'website:recipe_list' %}"
           target="_blank">
            <i class="fa fa-external-link"></i>{{' View on site'}}
        </a>
        <button class="btn btn-sm btn-outline-primary" type="button">
            <i class="fa fa-download"></i>{{' Export'}}
        </button>
    </nav>
    <!-- Ends Navbar action -->

    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">
                Recipe list
            </p>
        </div>
        <div class="card-body">

            <!-- todo: Select numbers of records, Search box. -->
            <div class="row d-none">
                <div class="col-md-6 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label
                            class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                        <option value="10" selected="">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>&nbsp;</label></div>
                </div>
                <div class="col-md-6">
                    <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input
                            type="search" class="form-control form-control-sm" aria-controls="dataTable"
                            placeholder="Search"></label></div>
                </div>
            </div>

            <div class="table-responsive table mt-2"
                 id="dataTable"
                 role="grid"
                 aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Excerpt</th>
                        <th>Author</th>
                        <th>Create date</th>
                        <th>Modify date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for recipe in recipes %}
                    <tr>
                        <td>
                            <img class="rounded-circle me-2"
                                 src="{% static 'images/' %}{{recipe.image_url}}"
                                 alt={{ recipe.title }}>
                            <a href="{% url 'dashboard:recipe_detail' recipe.id %}">
                                {{recipe.title}}
                            </a>

                        </td>
                        <td>{{ recipe.excerpt|slice:":50"}}{{'...'}}</td>
                        <td>{{ recipe.author }}</td>
                        <td>{{ recipe.created }}</td>
                        <td>{{ recipe.modified }}</td>
                        <!-- Actions -->
                        <td class="action">
                            <a href="{% url 'dashboard:recipe_detail' recipe.id %}"
                               title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="{% url 'dashboard:recipe_update' recipe.id %}"
                               title="Update"><i class="fa fa-pencil-square-o"></i></a>
                            <a href="{% url 'dashboard:recipe_delete' recipe.id %}"
                               title="Delete"><i class="fa fa-trash"></i></a>
                            <a href="{% url 'website:recipe_detail' recipe.id %}"
                               title="View on site"
                               target="_blank">
                                <i class="fa fa-external-link"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Titles</th>
                        <th>Excerpt</th>
                        <th>Author</th>
                        <th>Create date</th>
                        <th>Modify date</th>
                    </tr>
                    </tfoot>
                </table>
            </div>

            <!-- todo: table footer "stats" -->
            <div class="row d-none">
                <div class="col-md-6 align-self-center">
                    <p id="dataTable_info"
                       class="dataTables_info"
                       role="status" aria-live="polite">
                        Showing 1 to 10 of 27
                    </p>
                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span
                                    aria-hidden="true">«</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span
                                    aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}