.fa-trash {
    color: indianred;
}

.sidebar {
    background: #2f2f2f;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .90)
}

.dashboard-list tbody img {
    width: 30px;
    height: 30px;
}

.dashboard-detail h1 {
    font-size: 25px;
}

.dashboard-detail .featured-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
}

.dashboard-delete .btn {
    width: 200px;
}

/**
* Breadcrumb
*/
.breadcrumb-nav {
    background: #e8e8e8;
    padding: 15px 20px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.breadcrumb-nav ol {
    margin: 0;
}

/**
* Navbar
*/
.navbar-action {
    display: flex;
    justify-content: left;
    margin-bottom: 15px;
}

.navbar-action .btn {
    margin-right: 15px;
}

.action a {
    margin-right: 5px;
}