{% load static %}
<!--FOOTER STARTS-->
<footer class="footer-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-6 p-3">
                <div class="footer-brand">
                    <img src="{% static 'website/images/momo-logo-footer.png' %}"
                         alt=""
                         class="pb-2"/>
                    <p class="brand">
                        Mo:Mo:<span style="color: #a1d683"> Ristorante</span>
                    </p>
                    <ul class="social list-unstyled text-small text-left pt-3">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <small class="d-block mb-3 text-muted">© ASM 2021.</small>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 p-3">
                <h5>Shop Now</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a href="{% url 'under_construction' %}">Cool stuff</a>
                    </li>
                    <li>
                        <a href="{% url 'under_construction' %}">Random feature</a>
                    </li>
                    <li>
                        <a href="{% url 'under_construction' %}">Team feature</a>
                    </li>
                    <li>
                        <a href="{% url 'under_construction' %}">Stuff for developers</a>
                    </li>
                    <li>
                        <a href="{% url 'under_construction' %}">Another one</a>
                    </li>
                    <li>
                        <a href="{% url 'under_construction' %}">Last time</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 p-3">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a href="{% url 'under_construction' %}">Resource</a></li>
                    <li>
                        <a href="{% url 'under_construction' %}">Resource name</a>
                    </li>
                    <li>
                        <a href="{% url 'under_construction' %}">Another resource</a>
                    </li>
                    <li>
                        <a href="{% url 'under_construction' %}">Final resource</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 p-3">
                <h5>Help?</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a href="{% url 'under_construction' %}">My Account</a>
                    </li>
                    <li>
                        <a href="{% url 'under_construction' %}">Return Policy</a>
                    </li>
                    <li>
                        <a href="{% url 'under_construction' %}">Order Tracking</a>
                    </li>
                    <li>
                        <a href="{% url 'under_construction' %}">Shipping Charges</a>
                    </li>
                    <li><a href="{% url 'under_construction' %}">FAQs</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 p-3">
                <h5>Quick link</h5>
                <ul class="list-unstyled text-small">
                    <li><a href="{% url 'under_construction' %}">Team</a></li>
                    <li>
                        <a href="{% url 'under_construction' %}">Locations</a>
                    </li>
                    <li><a href="{% url 'under_construction' %}">Privacy</a></li>
                    <li><a href="{% url 'under_construction' %}"></a></li>
                    <li>
                        <a href="{% url 'references' %}">
                            References
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li><a href="http://127.0.0.1:8000/admin/">My Account</a></li>
                    {% else %}
                    <li><a href="http://127.0.0.1:8000/admin">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <hr/>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <small class="designer">
                    By
                    <a href="#">
                        Ashish Singh Maharjan
                    </a>
                </small>
            </div>
        </div>
    </div>
</footer>
<!--FOOTER ENDS-->

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script type="text/javascript">
    ;(function ($) {
        'use strict' // Start of use strict

        // Smooth scrolling using jQuery easing
        $('a.js-scroll-trigger[href*="#"]:not([href="{% url 'under_construction' %}"])').click(function () {
                if (
                    location.pathname.replace(/^\//, '') ==
                    this.pathname.replace(/^\//, '') &&
                    location.hostname == this.hostname
                ) {
                    var target = $(this.hash)
                    target = target.length
                        ? target
                        : $('[name=' + this.hash.slice(1) + ']')
                    if (target.length) {
                        $('html, body').animate(
                            {
                                scrollTop: target.offset().top - 70,
                            },
                            1000,
                            'easeInOutExpo'
                        )
                        return false
                    }
                }
            }
        )

        // Activate scrollspy to add active class to navbar items on scroll
        $('body').scrollspy({
            target: '#mainNav',
            offset: 100,
        })

        // Collapse Navbar
        var navbarCollapse = function () {
            if ($('#mainNav').offset().top > 100) {
                $('#mainNav').addClass('navbar-shrink')
            } else {
                $('#mainNav').removeClass('navbar-shrink')
            }
        }
        // Collapse now if page is not at top
        navbarCollapse()
        // Collapse the navbar when page is scrolled
        $(window).scroll(navbarCollapse)
    })(jQuery) // End of use strict
</script>