{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
<div class="dashboard-list">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:index' %}">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:booking_list' %}">Booking</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">List</li>
        </ol>
    </nav>
    <!-- Ends Breadcrumb -->

    <!-- Navbar action -->
    <nav class="navbar navbar-action">
        <a class="btn btn-sm btn-outline-primary"
           href="{% url 'dashboard:blog_create' %}">
            <i class="fa fa-plus"></i>{{' Add new'}}
        </a>
        <button class="btn btn-sm btn-outline-primary" type="button">
            <i class="fa fa-download"></i>{{' Export'}}
        </button>
    </nav>
    <!-- Ends Navbar action -->

    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">
                Blog lists
            </p>
        </div>
        <div class="card-body">

            <!-- todo: Select numbers of records, Search box. -->
            <div class="row d-none">
                <div class="col-md-6 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label
                            class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                        <option value="10" selected="">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>&nbsp;</label></div>
                </div>
                <div class="col-md-6">
                    <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input
                            type="search" class="form-control form-control-sm" aria-controls="dataTable"
                            placeholder="Search"></label></div>
                </div>
            </div>

            <div class="table-responsive table mt-2"
                 id="dataTable"
                 role="grid"
                 aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                    <tr>
                        <th>Fullname</th>
                        <th>Email</th>
                        <th>Person</th>
                        <th>Is approved?</th>
                        <th>Created</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for booking in bookings %}
                    <tr>
                        <td>
                            <a href="{% url 'dashboard:booking_detail' booking.id %}">
                                {{ booking.fullname }}
                            </a>

                        </td>
                        <td>{{ booking.email }}</td>
                        <td>{{ booking.person }}</td>
                        <td>{{ booking.is_approved }}</td>
                        <td>{{ booking.created }}</td>
                        <!-- Actions -->
                        <td class="action">
                            <a href="{% url 'dashboard:booking_detail' booking.id %}"
                               title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="{% url 'dashboard:blog_update' booking.id %}"
                               title="Update"><i class="fa fa-pencil-square-o"></i></a>
                            <a href="{% url 'dashboard:booking_delete' booking.id %}"
                               title="Delete"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Fullname</th>
                        <th>Email</th>
                        <th>Person</th>
                        <th>Is approved?</th>
                        <th>Created</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}