<!-- BOOK TABLE STARTS  -->
<section class="book-table" id="book-table">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center pb-4">
                <h2>Book a Table</h2>
                <p class="lead">Viris eripuit voluptaria cu per, sed id movet.</p>
            </div>

            <div class="col-md-6 offset-md-3">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="name">Your fullname</label>
                            <input
                                    class="form-control"
                                    id="name"
                                    placeholder="Your fullname"
                                    type="text"
                            />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input
                                    class="form-control"
                                    id="email"
                                    placeholder="youremail@example.com"
                                    type="email"
                            />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="phone">Phone</label>
                            <input
                                    class="form-control"
                                    id="phone"
                                    placeholder="+49 177 123 456"
                                    type="phone"
                            />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="person">Person</label>
                            <input
                                    class="form-control"
                                    id="person"
                                    placeholder="1"
                                    type="number"
                            />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="datetime">Date & time</label>
                            <input class="form-control" id="datetime" type="datetime-local"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" id="gridCheck" type="checkbox"/>
                            <label class="form-check-label" for="gridCheck">
                                I agree for xerci quaerendum conclusionemque ne vim.
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-main" type="submit">
                        <i class="fas fa-bookmark"></i> Book a Table
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- BOOK TABLE ENDS  -->